
/*


	CSS Syntax: 
	
	selector {
		property: value;


*/



	/*Univeral selector - allows us to select ALL of our elements.*/

	}

{
	/*All elements will now have a font style of courier new and by default will be about 20px

		monospace is a fallback font. In the event that the machine used to view your document does not have the declared font, we will fallback to similar font.

		font- family:  changes the font style of the text.;
		font-size: ;
	*/
	font-family: "Courier New", monospace;
	font-size: 20px;
}

/*selector: hover pseudo class*/
/*change the style of the element when hovered over*/
a:hover {
	background-color: #b4d6de;
}

	/*display property of div from block to inline block, which means this div is now inline with its siblings and yet occupy the remaining space like a block element.*/
	/*float:  right - we weere able to change the horizontal alignment of our element to put it left or right of our container.*/
	div{
		display: inline-block;
		float: right;
	}
/*type selector - allows to select all elements of the same type/tag*/
h1{

	color: black !important;
	text-align: center;
	font-size: 2rem;

	/*rem is a measurement which means num* the default size of root element's font (16px)*/

	/*Any declaration with important will be the highest priority. This is especially useful if you want to override a css style. However if an implementation of the keyword is found in internal or inline css we will still follow the level of specificity.

		1. inline with !important
		2. internal with !important
		3. external with !important
	*/

}


section {
		height: 100vh;
		/*vh means viewport height meaning this measurement takes the percentage of the overall height of the screen you are viewing with.*/
		text-align: center;
		/*allows us to align our text horizontally*/
}
	

h2 {
	font-size: 1.5rem;
}
/*id selector it is given more priority than other selectors*/
#zuitt-motto {

	letter-spacing: 5px;

}

/*class selector for elements of the same classes*/
.offering-item {

	text-transform: uppercase;
	color: green;
}
	ol {
		list-style: none;
	}

/*attribute selector - allows us to select particular elements with the same attirbutes tagname[attribute]

	border-width: allows us to determine the thickness of an element's border;
	border-style: allows us to determine the style of the border.;
	border-color:  allows us to determine the color of an element border;
*/

input[required] {

	border-width: 2px;
	border-style: solid;
	border-color: navy;
	width: 90%;

	/*We defined the width of our input to be least 90% of the width of its parent element.*/
}

/*Adjacent siblings selector - allows to select a particular element  that immediately follow a sibling element.*/
/*selector + selector*/
/*
	height and width properties will resize our elements.
	border-radius rounds out the corners of an element. The higher the border-radius the more circular an element becomes.
*/
h3 + img {

	height: 300px;
	width: 300px;
	border-radius: 150px;
}

/*Descendant Selector - allows us to select elements that are descendants of the first selector (ancestor)*/
/*ancestor descendant*/

#bootcamp-learning-list li{

	color: #075966;

	/*
		color property and other similar properties can also accept hex values. Hexadecimal values consists of # sign and the combination of 6 alphanumeric characters. This characters. This lets us define a more particular color.

	*/
}

/*General sibling selector: allow to select siblings that are after our previous sibling*/
/*sibling selected sibling*/
h2 ~ a{

	text-decoration: none;
}
/*reguster section*/

	form {
		text-align: center;
		background-color: white;
		border: 2px solid black;
		height: 185px;
		width: 25vw;
		/*vw - viewport width - is a measurement that is based on a percentage of your screen.*/
		/*The position property changes the position of an element based on a certain criteria.
		position:  relative; allows to move our element in relation to its original position in the HTML document.
		left property is used alongside the position property to add a certain measurement to the value % is based on the measurement of the parent element. The parent element being the section tag which is a block element and occupies the full width of the page. In this the value of the left property is 37.25% from 100% of its parent element's width.
		
		*/
		position: relative;
		left: 37.25%;

	}

/*Child Selector allows to select a particular child of a parent element.*/
/*parent > child*/
section > form > label {

	color: rgb(0,0,128);
	/*
		The color property and other properties that change color can also accept an RGB value. RGB values refers to red,green and blue. This allows us to determine a particular by combining the values of red,green and blue with a minimum of 0 and max of 255
	*/
}

button {
	background-color: #cf0053;
	color: white;
	border: 0;
	border-radius: 15px;
}