#external {
	color: yellow;
}

* {
	font-family: Verdana, sans-serif;
	font-size: 20px;
}

h1 {
	font-size: 3rem;
}

#heading2 {
	text-transform: uppercase;
}

.greenBG {
	background-color: #37ff33;
}

.blueBorder {
	border: 2px solid rgb(55,255,51);
}

img + ul {
	list-style-type: none;
}
section img {
	height: 20vh;
	width: 20vh;
	border-radius: 150px;
}
ul ~ p {

	text-align: center;

}
section>ul>li {
	letter-spacing: 10px;
}